.container-fluid{
    height:600px;
    width: auto;
    margin: 20px;
    border: 5px solid black;
    background-color: rgb(228, 105, 105);
  }
  .event{
    height: 110px;
    width: auto;
    color: blueviolet;
  }
  h1{
    margin-left: 500px;
    padding: 10px;
      }
  h4{
    margin-left:450px;
      }
  .event-small{
    height: 470px;
    width: auto;
    border: 5px solid black;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
  }
  .column1{
    height: 450px;
    width: 30%;
    padding: 10px;
  }
  img{
    margin: 50px;
    height: 200px;
    width: 200px;
  }
  .column2{
    height: 450px;
    width: 70%;
    padding: 20px;
  }
  form{
    padding: 20px;
    font-size: 20px;
    text-align: end;
    margin-right: 10%;
  }
  input{
    width: 500px;
  }
.dropdown{
  width: 90px;
  margin-right: 410px;
}
  .button{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: 100px;
  }